<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>col_2</key>
		<dict>
			<key>title</key>
			<string>Southbound</string>
			<key>key</key>
			<string>south</string>
		</dict>
		<key>col_1</key>
		<dict>
			<key>title</key>
			<string>Northbound</string>
			<key>key</key>
			<string>north</string>
		</dict>
		<key>dataUrl</key>
		<string>https://data.seattle.gov/resource/mefu-7eau.json</string>
		<key>title</key>
		<string>26th Ave SW Greenway at SW Oregon St</string>
	</dict>
	<dict>
		<key>col_2</key>
		<dict>
			<key>title</key>
			<string>Westbound</string>
			<key>key</key>
			<string>west</string>
		</dict>
		<key>col_1</key>
		<dict>
			<key>title</key>
			<string>Eastbound</string>
			<key>key</key>
			<string>east</string>
		</dict>
		<key>dataUrl</key>
		<string>https://data.seattle.gov/resource/upms-nr8w.json</string>
		<key>title</key>
		<string>Spokane St</string>
	</dict>
	<dict>
		<key>col_2</key>
		<dict>
			<key>title</key>
			<string>Southbound</string>
			<key>key</key>
			<string>sb</string>
		</dict>
		<key>col_1</key>
		<dict>
			<key>title</key>
			<string>Northbound</string>
			<key>key</key>
			<string>nb</string>
		</dict>
		<key>dataUrl</key>
		<string>https://data.seattle.gov/resource/j4vh-b42a.json</string>
		<key>title</key>
		<string>Broadway Cycle Track</string>
	</dict>
	<dict>
		<key>col_2</key>
		<dict>
			<key>title</key>
			<string>Southbound</string>
			<key>key</key>
			<string>bike_south</string>
		</dict>
		<key>col_1</key>
		<dict>
			<key>title</key>
			<string>Northbound</string>
			<key>key</key>
			<string>bike_north</string>
		</dict>
		<key>dataUrl</key>
		<string>https://data.seattle.gov/resource/2z5v-ecg8.json</string>
		<key>title</key>
		<string>Burke Gilman Trail north of NE 70th St</string>
	</dict>
	<dict>
		<key>col_2</key>
		<dict>
			<key>title</key>
			<string>Southbound</string>
			<key>key</key>
			<string>bike_south</string>
		</dict>
		<key>col_1</key>
		<dict>
			<key>title</key>
			<string>Northbound</string>
			<key>key</key>
			<string>bike_north</string>
		</dict>
		<key>dataUrl</key>
		<string>https://data.seattle.gov/resource/4qej-qvrz.json</string>
		<key>title</key>
		<string>Elliott Bay Trail in Myrtle Edwards Park</string>
	</dict>
	<dict>
		<key>col_2</key>
		<dict>
			<key>title</key>
			<string>Southbound</string>
			<key>key</key>
			<string>south</string>
		</dict>
		<key>col_1</key>
		<dict>
			<key>title</key>
			<string>Northbound</string>
			<key>key</key>
			<string>north</string>
		</dict>
		<key>dataUrl</key>
		<string>https://data.seattle.gov/resource/3h7e-f49s.json</string>
		<key>title</key>
		<string>39th Ave NE Greenway at NE 62nd St</string>
	</dict>
	<dict>
		<key>col_2</key>
		<dict>
			<key>title</key>
			<string>East</string>
			<key>key</key>
			<string>east</string>
		</dict>
		<key>col_1</key>
		<dict>
			<key>title</key>
			<string>West</string>
			<key>key</key>
			<string>west</string>
		</dict>
		<key>dataUrl</key>
		<string>https://data.seattle.gov/resource/47yq-6ugv.json</string>
		<key>title</key>
		<string>NW 58th St Greenway at 22nd Ave NW</string>
	</dict>
	<dict>
		<key>col_2</key>
		<dict>
			<key>title</key>
			<string>Southbound</string>
			<key>key</key>
			<string>fremont_bridge_sb</string>
		</dict>
		<key>col_1</key>
		<dict>
			<key>title</key>
			<string>Northbound</string>
			<key>key</key>
			<string>fremont_bridge_nb</string>
		</dict>
		<key>dataUrl</key>
		<string>https://data.seattle.gov/resource/65db-xm6k.json</string>
		<key>title</key>
		<string>Fremont Bridge</string>
	</dict>
</array>
</plist>
